@meta charset "UTF-8";

video#filme1{
    display: block;
    position: relative;
    left: 25px;
    width: 440px;
}

video#filme2{
    display: block;
    position: relative;
    left: 15px;
    width: 320px;
}